{% extends "templates/_base.html" %}

{% block bodyattrs %}class="{{ init_view }} about not-found not-nested"{% endblock bodyattrs %}

{% block library_css %}
{{ super() }}
{% endblock library_css %}

{% block content %}
  <div id="bg-solid" class="bgimg"></div>
  <div id="bg-static" class="bgimg"></div>
  <div class="container cpd-container">

    <div class="cpd-container-inner">

      <div id="results-wrapper">
        <div class="about-wrapper-inner">
          <div class="about-content">
            <h1>Page not found</h1>
            <!-- <p>Content goes here</p> -->
          </div>
        </div>
      </div> <!--end: results wrapper-->
    </div><!--end: container-inner-->
  </div><!--end: container-->
{% endblock content %}

{% block library_scripts %}
{{ super() }}
<script type="text/javascript">
  var site_path = '{{ site_path }}';  
</script>
{% if BUILD_PATH %}
  <script type="text/javascript" src="{{ url_for('cpd_settlements.static', filename='js/shared.min.js') }}"></script>
{% else %}
  <script type="text/javascript" src="{{ url_for('cpd_settlements.static', filename='js/shared.js') }}"></script>
{% endif %}
{% endblock %}
