.typeahead,
.tt-query,
.tt-hint { }

.typeahead {
  background-color: #fff;
  width: 400px;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query { }

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  background: #343434;
  color: white;
}

.tt-suggestion.tt-cursor {}

.tt-suggestion p {
  margin: 0;
}

.th-header {
  margin-left: 10px;
}
