<div class="search-form">
  <div class="search-form-inner">
    <form id="case-search-form">
      <div class="form-group">
        <label>Neighborhood</label>
        <select name="neighborhood" id="neighborhood" class="chosen" tabindex=0>
          <option value="">Any</option>
          <option value="unknown">Unknown</option>
          
        </select>
      </div>

      <div class="form-group">
        <label>Primary cause</label>
        <select data-placeholder="Select primary causes" id="primary_cause" name="primary_causes[]" class="chosen" tabindex=0>
          <option value="">Any</option>
          
            <option value="DUI stop">DUI stop</option>
          
            <option value="Excessive force">Excessive force</option>
          
            <option value="Excessive force-minor">Excessive force-minor</option>
          
            <option value="Excessive force-serious">Excessive force-serious</option>
          
            <option value="Extended detention">Extended detention</option>
          
            <option value="Failure to provide medical care">Failure to provide medical care</option>
          
            <option value="False arrest">False arrest</option>
          
            <option value="First Amendment violation">First Amendment violation</option>
          
            <option value="Illegal search/seizure">Illegal search/seizure</option>
          
            <option value="Illinois Domestic Violence Act violation">Illinois Domestic Violence Act violation</option>
          
            <option value="Malicious prosecution">Malicious prosecution</option>
          
            <option value="Monell (policies and practices)">Monell (policies and practices)</option>
          
            <option value="Other police misconduct">Other police misconduct</option>
          
            <option value="Reversed conviction">Reversed conviction</option>
          
        </select>
      </div>

      <div class="form-group">
        <label>Payment amount</label>
        <select name="total_payments" id="payment_amount" class="payment chosen" tabindex=0>
          <option value="">Any</option>
          <option value="0-3000">$0-$3,000</option>
          <option value="3000-12000">$3,000-$12,000</option>
          <option value="12000-80000">$12,000-$80,000</option>
          <option value="80000-999999999999999">$80,000+</option>
        </select>
      </div>

      <div id="tag-toggle"><span></span></div>
      <div id="tag-group">

        <div class="form-group tags">
          <label>Type of interaction</label>
             
              <input type="checkbox" name="tags" id="home-invasion" value="home invasion">
                <label for="home-invasion" class="option"><span>Home invasion</span></label>
             
              <input type="checkbox" name="tags" id="protest" value="protest">
                <label for="protest" class="option"><span>Protest</span></label>
             
              <input type="checkbox" name="tags" id="stop-and-frisk" value="stop and frisk">
                <label for="stop-and-frisk" class="option"><span>Stop and frisk</span></label>
             
              <input type="checkbox" name="tags" id="traffic-stop" value="traffic stop">
                <label for="traffic-stop" class="option"><span>Traffic stop</span></label>
             
              <input type="checkbox" name="tags" id="strip-search" value="strip search">
                <label for="strip-search" class="option"><span>Strip search</span></label>
             
              <input type="checkbox" name="tags" id="lock-up" value="lock-up">
                <label for="lock-up" class="option"><span>Lock-up</span></label>
             

          <label>Type of weapon</label>
           
            <input type="checkbox" name="tags" id="nightstick" value="nightstick">
              <label for="nightstick" class="option"><span>Nightstick</span></label>
           
            <input type="checkbox" name="tags" id="pepper-spray" value="pepper spray">
              <label for="pepper-spray" class="option"><span>Pepper spray</span></label>
           
            <input type="checkbox" name="tags" id="taser" value="taser">
              <label for="taser" class="option"><span>Taser</span></label>
           
            <input type="checkbox" name="tags" id="gun" value="gun">
              <label for="gun" class="option"><span>Gun</span></label>
           
            <input type="checkbox" name="tags" id="physical-force" value="physical force">
              <label for="physical-force" class="option"><span>Physical force</span></label>
           
            <input type="checkbox" name="tags" id="hog-tied" value="hog-tied">
              <label for="hog-tied" class="option"><span>Hog-tied</span></label>
           

          <label>Type of misconduct</label>
             
              <input type="checkbox" name="tags" id="false-report" value="false report">
                <label for="false-report" class="option"><span>False report</span></label>
             
              <input type="checkbox" name="tags" id="shooting" value="shooting">
                <label for="shooting" class="option"><span>Shooting</span></label>
             
              <input type="checkbox" name="tags" id="torture" value="torture">
                <label for="torture" class="option"><span>Torture</span></label>
             
              <input type="checkbox" name="tags" id="damage-to-property" value="damage to property">
                <label for="damage-to-property" class="option"><span>Damage to property</span></label>
             
              <input type="checkbox" name="tags" id="racial-epithets" value="racial epithets">
                <label for="racial-epithets" class="option"><span>Racial epithets</span></label>
             
              <input type="checkbox" name="tags" id="legal-access-denied" value="legal access denied">
                <label for="legal-access-denied" class="option"><span>Legal access denied</span></label>
             
              <input type="checkbox" name="tags" id="retaliation" value="retaliation">
                <label for="retaliation" class="option"><span>Retaliation</span></label>
             
              <input type="checkbox" name="tags" id="threats/intimidation" value="threats/intimidation">
                <label for="threats/intimidation" class="option"><span>Threats/intimidation</span></label>
             
              <input type="checkbox" name="tags" id="bribery" value="bribery">
                <label for="bribery" class="option"><span>Bribery</span></label>
             
              <input type="checkbox" name="tags" id="excessive-force" value="excessive force">
                <label for="excessive-force" class="option"><span>Excessive force</span></label>
             
              <input type="checkbox" name="tags" id="destroy/conceal/fabricate-evidence" value="destroy/conceal/fabricate evidence">
                <label for="destroy/conceal/fabricate-evidence" class="option"><span>Destroy/conceal/fabricate evidence</span></label>
             
              <input type="checkbox" name="tags" id="strip-search" value="strip search">
                <label for="strip-search" class="option"><span>Strip search</span></label>
             
              <input type="checkbox" name="tags" id="stolen-property" value="stolen property">
                <label for="stolen-property" class="option"><span>Stolen property</span></label>
             
              <input type="checkbox" name="tags" id="witness-manipulation" value="witness manipulation">
                <label for="witness-manipulation" class="option"><span>Witness manipulation</span></label>
             
              <input type="checkbox" name="tags" id="forced-confession" value="forced confession">
                <label for="forced-confession" class="option"><span>Forced confession</span></label>
             
              <input type="checkbox" name="tags" id="sexual-harassment/abuse" value="sexual harassment/abuse">
                <label for="sexual-harassment/abuse" class="option"><span>Sexual harassment/abuse</span></label>
             

          <label>Plaintiff details</label>
          

          <label>Officer details</label>
          

          <label>Outcome</label>
           
            <input type="checkbox" name="tags" id="weapons-charges" value="weapons charges">
              <label for="weapons-charges" class="option"><span>Weapons charges</span></label>
           
            <input type="checkbox" name="tags" id="hospitalized" value="hospitalized">
              <label for="hospitalized" class="option"><span>Hospitalized</span></label>
           
            <input type="checkbox" name="tags" id="resisting-or-obstructing-arrest-charges" value="resisting or obstructing arrest charges">
              <label for="resisting-or-obstructing-arrest-charges" class="option"><span>Resisting or obstructing arrest charges</span></label>
           
            <input type="checkbox" name="tags" id="other-charges-filed" value="other charges filed">
              <label for="other-charges-filed" class="option"><span>Other charges filed</span></label>
           
            <input type="checkbox" name="tags" id="died-in-custody" value="died in custody">
              <label for="died-in-custody" class="option"><span>Died in custody</span></label>
           
            <input type="checkbox" name="tags" id="drug-charges" value="drug charges">
              <label for="drug-charges" class="option"><span>Drug charges</span></label>
           
            <input type="checkbox" name="tags" id="assault-or-battery-to-an-officer-charges" value="assault or battery to an officer charges">
              <label for="assault-or-battery-to-an-officer-charges" class="option"><span>Assault or battery to an officer charges</span></label>
           
            <input type="checkbox" name="tags" id="killed-by-officer" value="killed by officer">
              <label for="killed-by-officer" class="option"><span>Killed by officer</span></label>
           
            <input type="checkbox" name="tags" id="died-out-of-custody" value="died out of custody">
              <label for="died-out-of-custody" class="option"><span>Died out of custody</span></label>
           

          
        </div>

      </div>

    </form>
  </div>
</div>
