<div class="case" data-case_number="{{ case.case_number }}">

  <div class="card-row">
    <div class="case-payment-wrapper">
      <a href="{{ site_path }}case/{{ case.case_number }}" class="case-link">
        <div class="case-payment">
          <h4>{{ case.case_number }}</h4>
          <h2>${{ format_currency(case.total_payments) }}</h2>
          <h3>{{ case.primary_cause }}</h3>
        </div>
      </a>
      <span class="social-icons">
        <a><span class="share icon-twitter" onclick="case_twitter(this)"></span></a>
        <a><span class="share icon-facebook" onclick="case_facebook(this)"></span></a>
        <a target="_blank" href="mailto:?subject=This police settlement cost Chicago {{ format_currency(case.total_payments) }}&amp;body=Get the details from the Chicago Reporter investigation: http://{{ ROOT_URL }}/case/{{ case.slug }}"><span class="share icon-mail"></span></a>
      </span>
    </div>

    <div class="case-description">
      <div class="case-details">
        {% for victim in case.victims %}
          <p><span class="card-label">Plaintiff: </span>
          {{ victim.victim_1 }}</p>
        {% endfor %}
        {% if case.date_of_incident %}
          <p><span class="card-label">Incident date: </span>
          {{ case.date_of_incident }}</p>
        {% endif %}
        {% if case.address %}
          <p><span class="card-label">Location: </span>
          {{ case.address }}</p>
        {% endif %}
      </div>

      {% if (case.narrative != 'NULL') %}
        <div class="case-summary">
          <a href="{{ site_path }}case/{{ case.case_number }}" class="case-link">
            <span class="card-label">Case summary: </span>
            <p>{{ case.narrative }}</p>
          </a>
        </div>
      {% endif %}
      
      <p style="display:none;">{{ case.tags }}</p>

      
      {% if case.officers > 0 %}
        <div class="case-officers">
          <span class="card-label">Officers involved:</span>
          <div class="officer-group">
            {% for officer in case.officers %}
              {% include 'templates/_officer.html' %}
              <a href="{{ site_path }}officer/{{ officer.slug }}" class="police-icon" data-firstname="{{ officer.first }}" data-lastname="{{ officer.last }}"><div class="tooltip">{{ officer.first }} {{ officer.last }}</div></a>
            {% endfor %}
           </div>
        </div>
      {% endif %}
      
       
    </div>
  </div>

  

</div>


