
<div class="case-detail" data-case_number="{{ case.case_number }}">

  <h1>Case {{ case.case_number }}</h1>

  <div class="case-payment">
    <h2>{{ total_for_payments(case.payments) }}</h2>
    <h3>{{ case.primary_cause }}</h3>
  </div>

  <div class="case-description">   

     <p>{{ case.narrative }}</p>

     <ul class="case-details">
       <li>Case number: {{ case.case_number }}</li>
       <li>
         <span>Plaintiff: </span>
         {% for victim in case.victims %}
           {{ victim.victim_1 }}
         {% endfor %}
       </li>
       <li><span>Incident date: </span>{{ case.date_of_incident }}</li>
       <li><span>Location: </span>{{ case.address }}</li>
     </ul>
  </div>

</div>


  <div class="case-officers">
    <label class="results-label" style="float:none;margin-top:20px;">Officers involved:</label>
     {% for officer in case.officers %}
      {% include 'templates/_officer.html' %}
     {% endfor %}
  </div>
