<div class="search-form">
  <div class="search-form-inner">
    <form id="case-search-form">
      <div class="form-group">
        <label>Neighborhood</label>
        <select name="neighborhood" id="neighborhood" class="chosen" tabindex=0>
          <option value="">Any</option>
          <option value="unknown">Unknown</option>
          
            <option value="Albany Park">Albany Park</option>
          
            <option value="Archer Heights">Archer Heights</option>
          
            <option value="Back of the Yards">Back of the Yards</option>
          
            <option value="Belmont Central">Belmont Central</option>
          
            <option value="Belmont Gardens">Belmont Gardens</option>
          
            <option value="Belmont Heights">Belmont Heights</option>
          
            <option value="Brainerd">Brainerd</option>
          
            <option value="Bridgeport">Bridgeport</option>
          
            <option value="Brighton Park">Brighton Park</option>
          
            <option value="Bronzeville">Bronzeville</option>
          
            <option value="Bucktown">Bucktown</option>
          
            <option value="Buena Park">Buena Park</option>
          
            <option value="Calumet Heights">Calumet Heights</option>
          
            <option value="Chatham">Chatham</option>
          
            <option value="Chicago Lawn">Chicago Lawn</option>
          
            <option value="Clearing (W)">Clearing (W)</option>
          
            <option value="Cragin">Cragin</option>
          
            <option value="East Chatham">East Chatham</option>
          
            <option value="East Garfield Park">East Garfield Park</option>
          
            <option value="East Side">East Side</option>
          
            <option value="Edgewater">Edgewater</option>
          
            <option value="Englewood">Englewood</option>
          
            <option value="Fernwood">Fernwood</option>
          
            <option value="Ford City">Ford City</option>
          
            <option value="Gage Park">Gage Park</option>
          
            <option value="Galewood">Galewood</option>
          
            <option value="Garfield Ridge">Garfield Ridge</option>
          
            <option value="Gold Coast">Gold Coast</option>
          
            <option value="Goose Island">Goose Island</option>
          
            <option value="Grand Crossing">Grand Crossing</option>
          
            <option value="Gresham">Gresham</option>
          
            <option value="Hanson Park">Hanson Park</option>
          
            <option value="Heart of Chicago">Heart of Chicago</option>
          
            <option value="Hegewisch">Hegewisch</option>
          
            <option value="Hermosa">Hermosa</option>
          
            <option value="Humboldt Park">Humboldt Park</option>
          
            <option value="Ida B. Wells / Darrow Homes">Ida B. Wells / Darrow Homes</option>
          
            <option value="Jefferson Park">Jefferson Park</option>
          
            <option value="Jeffery Manor">Jeffery Manor</option>
          
            <option value="Kelvin Park">Kelvin Park</option>
          
            <option value="Lake View">Lake View</option>
          
            <option value="Lake View East">Lake View East</option>
          
            <option value="Lawndale">Lawndale</option>
          
            <option value="LeClaire Courts">LeClaire Courts</option>
          
            <option value="Little Village">Little Village</option>
          
            <option value="Logan Square">Logan Square</option>
          
            <option value="Longwood Manor">Longwood Manor</option>
          
            <option value="Marquette Park">Marquette Park</option>
          
            <option value="Marynook">Marynook</option>
          
            <option value="McKinley Park">McKinley Park</option>
          
            <option value="Morgan Park">Morgan Park</option>
          
            <option value="Mount Greenwood">Mount Greenwood</option>
          
            <option value="Near West Side">Near West Side</option>
          
            <option value="Noble Square">Noble Square</option>
          
            <option value="North Austin">North Austin</option>
          
            <option value="Norwood Park East">Norwood Park East</option>
          
            <option value="Norwood Park West">Norwood Park West</option>
          
            <option value="O'Hare">O'Hare</option>
          
            <option value="Old Irving Park">Old Irving Park</option>
          
            <option value="Old Norwood Park">Old Norwood Park</option>
          
            <option value="Old Town Triangle">Old Town Triangle</option>
          
            <option value="Palmer Square">Palmer Square</option>
          
            <option value="Park Manor">Park Manor</option>
          
            <option value="Portage Park">Portage Park</option>
          
            <option value="Prairie Shores">Prairie Shores</option>
          
            <option value="Princeton Park">Princeton Park</option>
          
            <option value="Rogers Park">Rogers Park</option>
          
            <option value="Roscoe Village">Roscoe Village</option>
          
            <option value="Roseland">Roseland</option>
          
            <option value="Rosemoor">Rosemoor</option>
          
            <option value="Scottsdale">Scottsdale</option>
          
            <option value="Sheffield Neighbors">Sheffield Neighbors</option>
          
            <option value="South Austin">South Austin</option>
          
            <option value="South Chicago">South Chicago</option>
          
            <option value="South Deering">South Deering</option>
          
            <option value="South Loop">South Loop</option>
          
            <option value="South Shore">South Shore</option>
          
            <option value="The Robert Taylor Homes">The Robert Taylor Homes</option>
          
            <option value="Vittum Park">Vittum Park</option>
          
            <option value="Washington Park">Washington Park</option>
          
            <option value="Wentworth Gardens">Wentworth Gardens</option>
          
            <option value="West Chatham">West Chatham</option>
          
            <option value="West Chesterfield">West Chesterfield</option>
          
            <option value="West Englewood">West Englewood</option>
          
            <option value="West Garfield Park">West Garfield Park</option>
          
            <option value="West Humboldt Park">West Humboldt Park</option>
          
            <option value="West Pullman">West Pullman</option>
          
            <option value="West Rogers Park">West Rogers Park</option>
          
            <option value="West Town">West Town</option>
          
            <option value="West Woodlawn">West Woodlawn</option>
          
            <option value="Wicker Park">Wicker Park</option>
          
            <option value="Winneconna Parkway">Winneconna Parkway</option>
          
            <option value="Wrightwood">Wrightwood</option>
          
        </select>
      </div>

      <div class="form-group">
        <label>Primary cause</label>
        <select data-placeholder="Select primary causes" id="primary_cause" name="primary_causes[]" class="chosen" tabindex=0>
          <option value="">Any</option>
          
        </select>
      </div>

      <div class="form-group">
        <label>Payment amount</label>
        <select name="total_payments" id="payment_amount" class="payment chosen" tabindex=0>
          <option value="">Any</option>
          <option value="0-3000">$0-$3,000</option>
          <option value="3000-12000">$3,000-$12,000</option>
          <option value="12000-80000">$12,000-$80,000</option>
          <option value="80000-999999999999999">$80,000+</option>
        </select>
      </div>

      <div id="tag-toggle"><span></span></div>
      <div id="tag-group">

        <div class="form-group tags">
          <label>Type of interaction</label>
             

          <label>Type of weapon</label>
           

          <label>Type of misconduct</label>
             

          <label>Plaintiff details</label>
          

          <label>Officer details</label>
          

          <label>Outcome</label>
           

          
        </div>

      </div>

    </form>
  </div>
</div>
