<div class="search-form">
  <div class="search-form-inner">
    <ul class="tabs">
      <li>Filter cases</li>
    </ul>
    <form>
      <div class="form-group">
        <label>Neighborhood</label>
        <select name="neighborhood">
          <!-- Stuff goes here -->
        </select>
      </div>

      <div class="form-group">
        <label>Race of victim</label>
        <select name="victim_race">
          <!-- Stuff goes here -->
        </select>
      </div>

      <div class="form-group">
        <label>Payment amount</label>

        <input class="slider" data-slider-id='paymentAmount'
          type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="[7,14]"/>
      </div>

      <div class="form-group">
        <label>Incident date</label>

        <input class="slider" data-slider-id='incidentDate'
          type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="[7,14]"/>
      </div>

      <div class="form-group">
        <label>Primary cause</label>
      </div>
    </form>
  </div>
</div>
