<div class="mobile-tabs">
  <ul class="mobile-tab-selector">
    <li class="cases"><a>Filter cases</a></li>
    <li class="officers"><a>Officer search</a></li>
  </ul>
</div>
<div class="search">
  <div id="tabs">
    <ul id="search-selector" class="tab-selector">
      <li class="cases"><a href="/search/cases">Filter cases</a></li>
      <li class="officers"><a href="/search/officers">Officer search</a></li>
    </ul>
    <div class="tab-containers">
      <div data-tab-id="cases" class="tab-container case-tab">
        {% include 'templates/_case_search_form.html' %}
      </div>
      <div data-tab-id="officers" class="tab-container officer-tab">
        {% include 'templates/_officer_search_form.html' %}
      </div>
    </div>
  </div>
  <div id="explore-data">
    <span id="tap-to-open">Tap to explore the data</span>
    <span id="tap-to-close">Tap to close these filters</span>
  </div>
</div>
