{% extends "templates/_base.html" %}

{% block bodyattrs %}class="not-nested detail-page detail-case"{% endblock bodyattrs %}

{% block content %}
  <div id="bg-static" class="bgimg"></div>
  <div class="container cpd-container">
    <div class="cpd-container-inner">

	  {% block search %}
	    {% include 'templates/_search.html' %}
	  {% endblock search %}

	  <div id="results-wrapper">
      	{% include 'templates/_statement.html' %}
	    
	    
	    <div class="detail-wrapper case-expanded">
		  <div class="case-detail" data-case_number="{{ case.case_number }}">

		    <h1>Case {{ case.case_number }}</h1>

		    <div class="case-payment">
		      <h2>{{ total_for_payments(case.payments) }}</h2>
		      <h3>{{ case.primary_cause }}</h3>
			  <span class="social-icons">
				<a><span class="share icon-twitter" onclick="case_twitter(this)"></span></a>
				<a><span class="share icon-facebook" onclick="case_facebook(this)"></span></a>
    			<a target="_blank" href="mailto:?subject=This police settlement cost Chicago {{ total_for_payments(case.payments) }}&amp;body=Get the details from the Chicago Reporter investigation: http://{{ ROOT_URL }}/case/{{ case.slug }}"><span class="share icon-mail"></span></a>
		      </span>
		    </div>

		  </div>
		  <div class="secondary-details">
		      <p class="tags">{{ case.tags }}</p>
		  </div>
		</div>

		<div class="detail-wrapper case-expanded">
		  <div class="wrapper-inner-flex">
		    <div class="case-description"> 

		      <div class="case-details">
		        {% for victim in case.victims %}
		          <p><span class="card-label">Plaintiff: </span>
		          {{ victim.victim_1 }}</p>
		        {% endfor %}
		        {% if case.date_of_incident %}
		          <p><span class="card-label">Incident date: </span>
		          {{ case.date_of_incident }}</p>
		        {% endif %}
		        {% if case.address %}
		          <p><span class="card-label">Location: </span>
		          {{ case.address }}</p>
		        {% endif %}
		      </div>


		      {% if (case.narrative != 'NULL') %}
		        <div class="case-summary">
		          <span class="card-label">Case summary: </span>
		          <p>{{ case.narrative }}</p>
		        </div>
		      {% endif %}


		      {% for victim in case.victims %}
		        {% if (victim.victim_2) %}
		          <span class="card-label">Additional victims: </span>
		          <ul class="case-details">
		              {% for victim in case.victims %}
		                {% if (victim.victim_2) %}
		                  <li>{{ victim.victim_2 }}</li>
		                {% endif %}
		                {% if (victim.victim_3) %}
		                  <li>{{ victim.victim_3 }}</li>
		                {% endif %}
		                {% if (victim.victim_4) %}
		                  <li>{{ victim.victim_4 }}</li>
		                {% endif %}
		                {% if (victim.victim_5) %}
		                  <li>{{ victim.victim_5 }}</li>
		                {% endif %}
		                {% if (victim.victim_6) %}
		                  <li>{{ victim.victim_6 }}</li>
		                {% endif %}
		                {% if (victim.victim_7) %}
		                  <li>{{ victim.victim_7 }}</li>
		                {% endif %}
		                {% if (victim.victim_8) %}
		                  <li>{{ victim.victim_8 }}</li>
		                {% endif %}
		              {% endfor %}
		          </ul>
		        {% endif %}
		      {% endfor %}

		    </div>
		    {% if case.address %}
		    	<div id="map"></div>
		    {% endif %}
		  </div>
		</div>


		<div class="detail-wrapper">
		  <div class="case-officers">
		    <label class="results-label" style="float:none;">Officers involved:</label>
		     {% for officer in case.officers %}
		      {% include 'templates/_officer.html' %}
		     {% endfor %}
		  </div>
		</div>

	    {% include 'templates/_results.html' %}
	  </div> <!--end: results wrapper-->
	</div><!--end: container-inner-->
</div>

{% endblock content %}

{% block library_scripts %}

{{ super() }}

{% if case.latitude and case.longitude %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmYnsdne3OZUy_MasdujKQ-FDspKBELQ&sensor=false"></script>
<script type="text/javascript" src="{{ url_for('cpd_settlements.static', filename='js/map.js') }}"></script>
<script>
	var thisCase = { case_number:'{{case.case_number}}', latitude:{{case.latitude}}, longitude:{{case.longitude}} };
	// When the window has finished loading create our google map below
	google.maps.event.addDomListener(window, 'load', init(thisCase));
</script>
{% endif %}

{% include 'templates/_results_templates.html' %}
{% endblock %}
