{% extends "templates/_base.html" %}

{% block bodyattrs %}class="not-nested detail-page"{% endblock bodyattrs %}

{% block content %}
  <div id="bg-static" class="bgimg"></div>
  <div class="container cpd-container">
    <div class="cpd-container-inner">

	  {% block search %}
	    {% include 'templates/_search.html' %}
	  {% endblock search %}

	  <div id="results-wrapper">
      	{% include 'templates/_statement.html' %}
	    <div class="detail-wrapper">
	      {% include 'templates/_case.html' %}
	    </div>
	    {% include 'templates/_results.html' %}
	  </div> <!--end: results wrapper-->
	</div><!--end: container-inner-->
</div>
{% endblock content %}

{% block library_scripts %}

{{ super() }}

{% include 'templates/_results_templates.html' %}

{% endblock %}