{% extends "templates/_base.html" %}

{% block bodyattrs %}class="not-nested detail-page detail-officer"{% endblock bodyattrs %}

{% block content %}
  <div id="bg-static" class="bgimg"></div>
  <div class="container cpd-container">
    <div class="cpd-container-inner">

	  {% block search %}
	    {% include 'templates/_search.html' %}
	  {% endblock search %}

	  <div id="results-wrapper">
      	{% include 'templates/_statement.html' %}
			
			<div class="detail-wrapper officer-expanded">
				<div class="officer">
					<div class="officer-logo"></div>
					<div class="officer-text">
						<h2>{{ officer.first }} {{ officer.last }}</h2>
						<h3>{{ officer.prefix }}</h3>
						<div class="total-payments-container">
							{{ officer.last|title }} was named in <span class="number-of-cases"></span> that cost Chicago 
							<span class="total-payments">{{ format_currency(officer.total_payments) }}.</span> 
							<!-- <span>in settlement payments</span>. -->						
						</div>
				        <span class="social-icons">
							<a><span class="share icon-twitter" onclick="officer_twitter(this)"></span></a>
							<a><span class="share icon-facebook" onclick="officer_facebook(this)"></span></a>
							<a target="_blank" href="mailto:?subject={{ officer.first }} {{ officer.last }} was named in police misconduct lawsuits that cost Chicago {{ format_currency(officer.total_payments) }}&amp;body=Get the details from the Chicago Reporter investigation: http://{{ ROOT_URL }}/officer/{{ officer.slug }}"><span class="share icon-mail"></span></a>
						</span>
						
					</div>
				</div>
				<div class="secondary-details">
					{% if officer.badge_number %}
			          <!--<div class="badge-num"><span>Badge:</span> {{ officer.badge_number }}</div>-->
			        {% endif %}
					<div class="officer-gender"></div>
					<div class="years-of-service"></div>
					<div class="officer-race"></div>
					<div class="note"></div>
				</div>
			</div>
			<div id="officer-case-map" class="detail-wrapper officer-expanded">
		  		<div class="wrapper-inner-flex">
					<div id="map"></div>
				</div>
			</div>
			<div id="officer-case-list" class="detail-wrapper">
				<label class="results-label" style="float:none;">Cases involving {{ officer.last }}:</label>
			</div>

	    {% include 'templates/_results.html' %}
	  </div> <!--end: results wrapper-->
	</div><!--end: container-inner-->
</div>
{% endblock content %}

{% block library_scripts %}

{{ super() }}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmYnsdne3OZUy_MasdujKQ-FDspKBELQ&sensor=false"></script>
<script type="text/javascript" src="{{ url_for('cpd_settlements.static', filename='js/map.js') }}"></script>

{% include 'templates/_results_templates.html' %}


<script>

	var loadData = function(callback) {
		var url = site_path + 'assets/cpd_settlements/data/combined.min.js';
		$.ajax({
			url: url,
			cache: true,
			dataType: 'script',
			success: callback
		});
	};

	Number.prototype.formatMoney = function(c, d, t){
	    var n = this,
	        c = isNaN(c = Math.abs(c)) ? 2 : c,
	        d = d == undefined ? "." : d,
	        t = t == undefined ? "," : t,
	        s = n < 0 ? "-" : "",
	        i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
	        j = (j = i.length) > 3 ? j % 3 : 0;
	    return s + (j ? i.substr(0, j) + t : "") +
	      i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) +
	      (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	};

	function renderOfficerInfo() {
		calculateService();
		var numCases = officerCaseList.length;
		var numText = '';
		if (numCases == 1) {
			numText = '<span>' + languagize(numCases) + '</span> misconduct lawsuit';
		} else {
			numText = '<span>' + languagize(numCases) + '</span> misconduct lawsuits';
		}
		$('.number-of-cases').html(numText);
		
		if (officerObj.race != '') {
			$('.officer-race').html('<span>Race:</span> ' + officerObj.race.toLowerCase());
		}
		if (officerObj.sex != '') {
			var sex = officerObj.sex.toLowerCase();
			var gender;
			if (sex == 'm'){
				gender = 'male';
			} else if (sex == 'f') {
				gender = 'female';
			} else {
				gender = sex;
			}
			$('.officer-gender').html('<span>Gender:</span> ' + gender);
		}
		if (officerObj.note != '') {
			$('.note').html('<span>Note:</span> ' + officerObj.race);
		}
		
	}

	function languagize(int) {
		if (int < 10){
	        if (int == 0) { int = 'no'};
	        if (int == 1) { int = 'one'};
	        if (int == 2) { int = 'two'};
	        if (int == 3) { int = 'three'};
	        if (int == 4) { int = 'four'};
	        if (int == 5) { int = 'five'};
	        if (int == 6) { int = 'six'};
	        if (int == 7) { int = 'seven'};
	        if (int == 8) { int = 'eight'};
	        if (int == 9) { int = 'nine'};
	      }
      	return int;
	}

	function calculateService(){
		var appointed = '{{ officer.appointed }}';
		var resigned = '{{ officer.resigned }}';
		var active = '';
		var html = '<span>Length of service:</span> ';

		appointed = new Date(appointed);
		if (resigned == '') {
			var today = new Date();
			resigned = today;
			active = 'active';
		} else {
			resigned = new Date(resigned);
			active = 'inactive';
		}

		var serviceYears = ((resigned.getFullYear() * 12 + resigned.getMonth()) - (appointed.getFullYear() * 12 + appointed.getMonth()))/12;
		var fullYears = Math.floor(serviceYears);
		var remainder = Math.round( (serviceYears % 1) * 12 );
		if (remainder > 0) {
			html += fullYears + ' years, ' + remainder + ' months'
		} else {
			html += fullYears + ' years, ' + remainder + ' months'
		}
		html += ' (' + active + ')';
		$('.years-of-service').html( html );
	}

	function formatStr(text) {
		var formatted = '';

		// https://regexper.com/#%5E(%5Cr%5Cn%7C.)%7B1%2C280%7D%5Cb
		formatted = text.match(/^(\r\n|.){1,280}\b/g).join('');

		//if (formatted.substring(formatted.length-1) == '-' || ' ' || ',' || ';'){
		if (formatted.substring(formatted.length-1) == ' '){
			formatted = formatted.substring(0, formatted.length-1);
		}
		if (formatted.substring(formatted.length-1) == ','){
			formatted = formatted.substring(0, formatted.length-1);
		}
		if (formatted.substring(formatted.length-1) == '-'){
			formatted = formatted.substring(0, formatted.length-1);
		}

		formatted += '...<span class="read-more">Read More &raquo; </span>';

		return formatted;
    }

	function getOfficerData(code, array) {
		return array.filter(
			function(array){return array.slug == code}
		);
	}

	function findOfficer(slug) {
		for (i = 0; i < officers_json.length; i++) {
		    var officerObj = officers_json[i];
		    if (officerObj.slug == slug) {
		        return officerObj;
		        break;
		    }
		}
	}

	function getCases(officer) {
		var officerCases = [];

		for (var i=0; i<cases_json.length; i++) {
			var filteredCases = cases_json[i];
		 	var officers = filteredCases.officers;

			var foundOfficer = getOfficerData(officer, officers);

			if (foundOfficer.length > 0) {
				officerCases.push(filteredCases);
			}
		}

		return officerCases;
	}

	function renderCaseList() {
		for (var i=0; i<officerCaseList.length; i++){
			var thisCase = officerCaseList[i];
	        var html = $( '#case-tmpl' ).html();
	        var compiled = _.template(html, {variable: 'model'});
	        var officerCase = compiled(thisCase);

	        $('#officer-case-list').append( officerCase );
	    };
	}

	var officerCaseList;
	var officerObj;
	var initialCase = { latitude:41.8781, longitude:-87.6298 };

	loadData(function() {
		var slug = {{ officer.slug }};
		officerObj = findOfficer(slug);
		officerCaseList = getCases(slug);
		google.maps.event.addDomListener(window, 'load', init(initialCase, officerCaseList));
		renderOfficerInfo();
		renderCaseList();
	});


</script>

{% endblock %}
