{% extends "templates/_base.html" %}

{% block bodyattrs %}class="not-nested detail-page detail-officer"{% endblock bodyattrs %}

{% block content %}
  <div id="bg-static" class="bgimg"></div>
  <div class="container cpd-container">
    <div class="cpd-container-inner">

	  {% block search %}
	    {% include 'templates/_search.html' %}
	  {% endblock search %}

	  <div id="results-wrapper">
      	{% include 'templates/_statement.html' %}
			
			<div class="detail-wrapper">
				<div class="officer" data-case_number="{{ officer.case_number }}">
					<div class="officer-logo"></div>
					<div class="officer-text">
						<h2><a href="{{ url_for('cpd_settlements.officer', slug=officer.slug) }}">{{ officer.prefix }} {{ officer.first }} {{ officer.last }}</a></h2>
						<div class="badge-num"><span>Badge #:</span> {{ officer.badge_number }}</div>
						<div class="total-payments-container">
							<span class="total-payments">${{ officer.total_payments }}</span> 
							<span>total payments for all related cases</span>
						</div>
					</div>
				</div>
			</div>

	    {% include 'templates/_results.html' %}
	  </div> <!--end: results wrapper-->
	</div><!--end: container-inner-->
</div>
{% endblock content %}

{% block library_scripts %}

{{ super() }}

{% include 'templates/_results_templates.html' %}


<script>
	function getOfficerData(code, array) {
		return array.filter(
			function(array){return array.slug == code}
		);
	}

	function getCases(officer) {
		var officerCases = [];

		for (var i=0; i<cases_json.length; i++) {
		 	var officers = cases_json[i].officers;

			for (var j=0; j<officers.length; j++) {
				var foundOfficer = getOfficerData(officer, officers);

				if (foundOfficer.length > 0) {
					officerCases.push(cases_json[i].slug);
				}
			}
		}

		return officerCases;
	}

	var thisOfficerCases = getCases( {{ officer.slug }} );
	console.log( thisOfficerCases );

</script>

{% endblock %}