{% extends "templates/_base.html" %}

{% block library_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('cpd_settlements.static', filename='vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('cpd_settlements.static', filename='vendor/chosen/chosen.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('cpd_settlements.static', filename='css/style.css') }}" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
{% endblock library_css %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Cases</h1>
    <h2>The City of Chicago paid {{ total_for_payments(payments) }} in {{ cases|length }} legal settlements in police misconduct cases between January 2012 and June 2015.</h2>
  </div>
  <div class="search row">
    <div class="col-xs-12" id="tabs">
      <ul id="search-selector" class="tab-selector">
        <li><a href="/search/cases">Filter cases</a></li>
        <li><a href="/search/officers">Officer search</a></li>
      </ul>
      <div class="tab-containers">
        <div data-tab-id="cases" class="tab-container case-tab">
          {% include 'templates/_search_form.html' %}
        </div>
        <div data-tab-id="officers" class="tab-container officer-tab">
          <p>Officer search TKTK</p>
        </div>
      </div>
    </div>
  </div>
  <div class="case-list row">
    <div class="col-xs-12">
      <div class="case-list-inner" id="case-list-view">
        {% for case in cases %}
          {% include 'templates/_case.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block library_scripts %}

{{ super() }}

<script src="{{ url_for('cpd_settlements.static', filename='vendor/chosen/chosen.jquery.js') }}"></script>
<script src="{{ url_for('cpd_settlements.static', filename='vendor/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
<script src="{{ url_for('cpd_settlements.static', filename='vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
<script src="{{ url_for('cpd_settlements.static', filename='vendor/jquery-serialize-object/dist/jquery.serialize-object.min.js') }}"></script>

<script type="text/javascript">
  var cases_json = {{ cases_json|safe }};
</script>

<script src="{{ url_for('cpd_settlements.static', filename='js/search.js') }}"></script>

<script type="text/template" id="case-tmpl">
  <div class="case" data-case_number="<%= model.case_number %>">

    <h2>$<%= Number(model.total_payments).formatMoney() %> for <%= model.causes %></h2>

    <h3>Victim(s):</h3>
     <% _.each(model.victims, function(victim) { %>
      <p><%= victim.victim_1 %></p>
     <% }) %>

    <h3>Officers involved:</h3>
     <% _.each(model.officers, function(officer) { %>
      <p><%= officer.first %> <%= officer.last %> <% if (officer.badge_number) { %>(badge: <%= officer.badge_number %>)<% } %></p>
     <% }) %>

     <ul class="case-details">
       <li>Case number: <%= model.case_number %></li>
       <li>Incident date: <%= model.date_of_incident %></li>
       <li>Location: <%= model.address %></li>
     </ul>
  </div>
</script>
{% endblock %}
