{% extends "templates/_base.html" %}

{% block library_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('cpd_settlements.static', filename='css/search.css') }}" />
{% endblock library_css %}

{% block content %}
<div class="container">
  <div class="search row">
    <div class="col-xs-12">
      <h1>Search</h1>
    </div>
  </div>
  <div class="results row">
    <div class="col-xs-12">
      <h1>Cases</h1>
      <div class="results-inner">
        {% for case in cases %}
          {% include 'templates/_case.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block library_scripts %}
{{ super() }}
<script src="{{ url_for('cpd_settlements.static', filename='vendor/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
<script src="{{ url_for('cpd_settlements.static', filename='js/search.js') }}"></script>
{% endblock %}
